<!DOCTYPE html>
<html lang="en">
    <%- include("./components/header.ejs"); %>
    <header>
        <%- include("./components/navbar.ejs"); %>
    </header>
    <body>
        <div class="conteudo">
            <form action="/associar" method="post" >
                <select name="requisitoa" id="requisitoa">
                    <option value="<%= options.id %>"><%= options.requisito.nome %> </option>
                </select>
                <select name="requisito" id="requisito">
                    <% for (let i = 0; i < options.requisitos.length; i++) { %>
                        <option value="<%= options.requisitos[i].id %>"><%= options.requisitos[i].nome %></option>
                    <% } %>
                </select>
                <select name="condicoes" id="condicoes">
                        <option value="include">Include</option>
                        <option value="extends">Extends</option>
                        <option value="generalization">Generalization</option>
                        </select>

                <button type="submit">Salvar</button>
            </form>
        </div>
    </body>
</html>